<h1>Add New Food Success</h1>

<label for="foodName">Food Name: <%=foodName%></label><br>
<label for="foodPrice">Food Price: <%=foodPrice%></label><br><br>

<a href="./foodList" id="general-button">Back</a>