<html>  
    <head>
        <title>New Item</title>
    </head>
    <body>
        <h1>Create a New Item</h1>

        <form action="/items/create" method="POST">
            <input name="name" type="text" placeholder="Item Name">
            <input name="price" type="text" placeholder="Item Price">

            <button type="submit">Add Item</button>
        </form>
    </body>
</html>