<html>
   <head>
      <title>Item Detail</title>
   </head>

   <body>
      <h1><%= item.name %>'s Detail</h1>
      <label for="foodName">Item name: <%= item.name %></label><br>
      <label for="foodPrice">Item price: <%= item.price %></label><br>
      <label for="foodCategory">Item category: <%= item.category.name %></label><br>
      <button class="back-button"><a href="/items">Back</a></button>
   </body>
</html>